.backText {
  display: inline;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  vertical-align: middle;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row:hover {
  cursor: pointer;
  background-color: rgba(66, 134, 244, .2);

}
