.recipeBtn{
  border: 1px solid #898E9C;
}

.recipes{
  padding-top: 10px;
  margin-left: 50px;
}

.backText {
  display: inline;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  vertical-align: middle;
}
