.footerText{
  color: #000000;
  font-size: 12px;
  position: absolute;
  right: 0;
  padding-bottom: 20px;
  margin-right: 20px;
}

.footer{
  background-color: #DEE5EF;
  left: 0;
  bottom: 0;
  height: 35px;
  width: 100%;
  position: fixed;
}
