<form [formGroup]="recipeForm" (ngSubmit)="onSubmit(recipeForm.value)">
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Recipe Name" id="recipeName" type="text" formControlName="recipeName">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-select placeholder="Category" formControlName="category">
        <mat-option id="category"  value="{{cat.id}}" *ngFor="let cat of categoryList" >
          {{cat.category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div formArrayName="ingredientList">
    <div *ngFor="let item of ingredients.controls; let pointIndex=index" [formGroupName]="pointIndex">
      <mat-form-field class="ingredientInputName">
        <input matInput placeholder="Ingredient Name" type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="ingredientAmount">
        <input matInput placeholder="Amount" type="text" formControlName="measurement" />
      </mat-form-field>
      <mat-form-field class="ingredientUnit">
        <input matInput placeholder="Unit" type="text" formControlName="unit" />
      </mat-form-field>
      <mat-icon class="deleteIcon" (click)="deleteIngredient(pointIndex)">delete</mat-icon>
    </div>
    <button mat-button class="addIngredient" (click)="addIngredient()">+ Add Ingredient</button>
  </div>

  <button mat-button class="submitButton" type="submit">Add Recipe</button>

  <div class="json">
    {{ this.recipeForm.value | json }}
  </div>
</form>
