.ingredient {
  display: inline-block;
}

.deleteIcon {
  color: #D41608;
  padding-left: 20px;
  &:hover {
    cursor: pointer;
  }
}

.ingredientInputName {
  width: 300px;
}

.ingredientAmount {
  margin-left: 20px;
  width: 100px;
}

.ingredientUnit{
  margin-left: 20px;
  width: 100px;
}

.addBtn {
  border: 1px solid #000000;
}

.submitButton {
  background-color: #4286F4;
  color: #FFFFFF;
  width: 300px;
  margin-top: 20px;
}

.directionGroup{
  padding-top: 20px;
}

.directionTxt {
  width: 50%;
}

.json {
  padding-top: 50px;
}
