<form [formGroup]="recipeForm" (ngSubmit)="onSubmit(recipeForm.value)">
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Recipe Name" id="recipeName" type="text" formControlName="recipeName">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-select placeholder="Category" formControlName="category">
        <mat-option id="category"  value="{{cat.id}}" *ngFor="let cat of categoryList" >
          {{cat.category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div formArrayName="ingredientList">
    <div *ngFor="let item of ingredients.controls; let pointIndex=index" [formGroupName]="pointIndex">
      <label>
        Ingredient Name: <input formControlName="name" />
      </label>
      <button type="button" (click)="deleteIngredient(pointIndex)">Delete Ingredient</button>
    </div>
    <button type="button" (click)="addIngredient()">Add Ingredient</button>
  </div>

  <button mat-button class="button" type="submit">Add Recipe</button>

  <div>
    {{ this.recipeForm.value | json }}
  </div>
</form>
