.header {
  background-color: #4286F4;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}

.title{
  cursor: pointer;
}

button{
  padding-left: 20px;
  background-color: transparent;
  border-radius: 0;
  color: #FFFFFF;
  height: 75%;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.profileIcon{
  margin-right: 40px;
  right: 0;
  position: absolute;
  &:hover {
    cursor: pointer;
  }
}
